a {font-family:times;font-size:12pt;color:#000;font-weight:bold;}
a:hover {font-family:times;font-size:12pt;color:#fff;font-weight:bold;}
.tablemain {background-color:#52553B;}
.spacer {height:10px;font-size:4px;}
ul {list-style-type:disk; margin-top:5px;margin-bottom:0px;margin-left:20px;text-align:left;}
td {font-family:verdana,swiss,arial;font-size:10px;color:#000;color:#AAAC9F;text-align:justify;margin:0px;padding:0px;vertical-align:top;padding:0px;}
.tdbs {font-family:verdana,swiss,arial;font-size:10px;color:#000;color:#AAAC9F;text-align:justify;border:1px solid #6C6F58;padding:10px;}
.tdb {font-family:verdana,swiss,arial;font-size:10px;color:#000;color:#AAAC9F;text-align:justify;border:1 solid #5B5E45;padding:10px;}
.tdcr {font-family:verdana,swiss,arial;font-size:10px;color:#000;background-color:#52553B;color:#6C6F58;text-align:center;vertical-align:bottom;border:0px solid #6C6F58;padding:6px;}
.title {font-family:verdana,swiss,arial;font-size:11px;font-weight:normal;}
a {color:#AAAC9F;font-family:verdana,swiss,arial;font-size:10px;font-weight:normal;text-decoration:none;}
a:link {color:#AAAC9F;font-family:verdana,swiss,arial;font-size:10px;font-weight:normal;text-decoration:none;}
a:visited {color:#AAAC9F;font-family:verdana,swiss,arial;font-size:10px;font-weight:normal;text-decoration:none;}
a:hover {color:#FFFFFF;font-family:verdana,swiss,arial;font-size:10px;font-weight:normal;text-decoration:underline;}
a:active {color:#FFFFFF;font-family:verdana,swiss,arial;font-size:10px;font-weight:normal;text-decoration:underline;}
at {color:#AAAC9F;font-family:verdana,swiss,arial;font-size:10px;font-weight:normal;text-decoration:none;}



.au:link {color:#AAAC9F;font-family:verdana,swiss,arial;font-size:10px;font-weight:normal;text-decoration:underline;}
.au:visited {color:#AAAC9F;font-family:verdana,swiss,arial;font-size:10px;font-weight:normal;text-decoration:underline;}
.au:hover {color:#FFFFFF;font-family:verdana,swiss,arial;font-size:10px;font-weight:normal;text-decoration:underline;}
.au:active {color:#FFFFFF;font-family:verdana,swiss,arial;font-size:10px;font-weight:normal;text-decoration:underline;}

.greyed {color:#45555E;font-family:verdana,swiss,arial;font-size:10px;font-weight:normal;text-decoration:none;}

.agn {color:#6C6F58;font-family:verdana,swiss,arial;font-size:10px;font-weight:normal;text-decoration:none;}
.agn:link {color:#6C6F58;font-family:verdana,swiss,arial;font-size:10px;font-weight:normal;text-decoration:none;}
.agn:visited {color:#6C6F58;font-family:verdana,swiss,arial;font-size:10px;font-weight:normal;text-decoration:none;}
.agn:hover {color:#FFFFFF;font-family:verdana,swiss,arial;font-size:10px;font-weight:normal;text-decoration:none;}
.agn:active {color:#FFFFFF;font-family:verdana,swiss,arial;font-size:10px;font-weight:normal;text-decoration:none;}

p {margin:5px;margin-top:7px;text-align:justify};
em {font-weight:bold;font-style:italic};
body {background-color:#000;margin:0px;}
